@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800;900&family=Righteous&family=Secular+One&family=Sora:wght@100;200;300;600;700;800&display=swap');

:root{
    --cor-principal: black;
    --cor-secundaria: white;
    --cor-tercearia: #845ec8;
    --cor-principal-space: rgb(0, 204, 0);
    --cor-principal-pac: rgb(253, 215, 0);
    --cor-principal-dk: #61290e;
    --cor-principal-mario: red;
}

* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

header{
    height: 130px;
    text-align: center;
    background-color: var(--cor-principal);
    margin-top: 0;
}

header h1{
    padding: 45px;
    font-family: 'Righteous', sans-serif;
    color: var(--cor-secundaria);
}

a{
    text-decoration: none;
    color: inherit;
}

nav ul{
    text-align: center;
    margin: 25px;
    list-style-type: none;
}

nav{
    margin-bottom: 50px;
}

footer{
    background-color: var(--cor-principal);
    font-family: 'Secular One', sans-serif;
    height: 200px;
}

footer p{
    color: var(--cor-secundaria);
    text-align: justify;
}

/*ID's*/
#intro-pag{
    margin: auto;
    margin-top: 0;
}

#titulo-intro{
    text-align: center;
    margin-top: 50px;
    font-family: 'Orbitron', sans-serif;
}

#botao-invaders{
    box-shadow: 2px 2px 15px 7px var(--cor-principal-space);
}

#botao-pac-man{
    box-shadow: 2px 2px 15px 7px var(--cor-principal-pac);
}

#botao-dk{
    box-shadow: 2px 2px 15px 7px var(--cor-principal-dk);
}

#botao-mario{
    box-shadow: 2px 2px 15px 7px var(--cor-principal-mario);
}

#referencia{
    margin: 20px;
    padding: 10px;
}

#autor{
    margin-left: 20px;
    padding: 20px;
}

#botao-saiba-mais{
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    box-shadow: 2px 2px 15px 10px var(--cor-tercearia);
    text-align: center;
    width: 220px;
    margin-top: 20px;
    margin: auto;
}

/*Classes*/
.botao-intro{
    display: inline-block;
    width: 220px;
    border-radius: 10px;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    margin: 20px;
}

.titulo-jogo{
    color: var(--cor-secundaria);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding: 35px;
}

.banner-game{
    background-color: var(--cor-principal);
    height: 100px;
}

.conteudo-padrao{
    margin-top: 30px;
}

.imagens{
    width: 300px;
    height: 200px;
    padding: 15px;
}

.container-only-img-space{
    display: inline-block;
    margin: 25px;
    box-shadow: 2px 2px 15px 10px var(--cor-principal-space);
}

.container-only-img-pac{
    display: inline-block;
    margin: 25px;
    box-shadow: 2px 2px 15px 10px var(--cor-principal-pac); 
}

.container-only-img-dk{
    display: inline-block;
    margin: 25px;
    box-shadow: 2px 2px 15px 10px var(--cor-principal-dk);  
}

.container-only-img-mario{
    display: inline-block;
    margin: 25px;
    box-shadow: 2px 2px 15px 10px var(--cor-principal-mario);    
}

.container-imgs{
    text-align: center;
}

.texto-game{
    text-align: center, justify;
    margin: 40px;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
}